{% load postman_tags %}

{# This is the consolidated recipient field autocomplete for postman messaging form #}
{% if field %}
  <div class="{{ classes.wrap }}">
    {% if field.auto_id %}
      <label 
        {% if field.field.required %}
          class="{{ classes.label }} {{ classes.requiredlabel }}" 
        {% else %}
          class="{{ classes.label }} {{ classes.optionallabel }}"
        {% endif %}
        for="{{ field.auto_id }}"
      >
        {{ field.label }}
      </label>
    {% endif %}

    <div class="{{ classes.field }}">
      {{ field }}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
  </div>
{% endif %}
